{% extends "base.html" %}

{% block title -%}
Wiki Editor
{%- endblock title %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#editor" data-toggle="tab">Editor</a></li>
    <li><a href="#preview" data-toggle="tab" id="previewlink">Preview</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="editor">
        <!-- Image Upload Form -->
        <form action="{{ url_for('wiki.upload') }}" method="post" enctype="multipart/form-data">
            {{ upload_form.hidden_tag() }}
            <div class="form-group">
                <label for="file">Choose File:</label>
                {{ upload_form.file() }}
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

        <!-- Editor Form -->
        <form method="post" class="form">
            {{ form.hidden_tag() }}
            {{ input(form.title, placeholder="Title", class="span7", autocomplete="off") }}
            {{ input(form.body, placeholder="Markdown", class="span7", rows="20") }}
            {{ input(form.tags, placeholder="Tags (comma separated)", class="span7", autocomplete="off") }}

            <!-- Display uploaded images -->
            <div id="uploaded-content">
            {% for image_id in images %}
             <img src="{{ url_for('wiki.display_image', image_id=image_id) }}" alt="Image">
                {% endfor %}
            </div>
            <div class="form-actions">
                <div class="pull-left">
                    <a class="btn" href="#preview" id="previewbtn">Preview</a>
                </div>
                <div class="pull-right">
                    <a class="btn" href="{{ url_for('wiki.display', url=page.url) }}">Cancel</a>
                    <button class="btn btn-success" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>

    <div class="tab-pane" id="preview"></div>
</div>
{% endblock content %}
